.container {
  padding-left: 20px;
  padding-right: 20px;
}

.event-img {
  height: 100px;
}

a {
  cursor: pointer;
}

.create-session-title {
  margin: 0;
}

.session-actions{
  margin-bottom: 10px;
}
